<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcdenny.easyshopug">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:theme="@style/WithNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/WithNoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/WithNoActionBar" />
        <activity
            android:name=".ProductList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.HomeActivity" />
        </activity>
        <activity
            android:name=".ProductDetail"
            android:theme="@style/WithNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.ProductList" />
        </activity>
        <activity
            android:name=".CartDetail"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.ProductDetail" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderStatus"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.HomeActivity" />
        </activity>
        <activity
            android:name=".DistributorList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.HomeActivity" />
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".TermsActivity"
            android:label="@string/terms"/>
        <activity android:name=".AboutUs"
            android:label="About Us"/>
        <activity
            android:name="com.mcdenny.easyshopug.CheckoutActivity"
            android:label="Check out">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.easyshopug.ShippingAddress" />
        </activity>

        <activity android:name=".SettingsActivity"
            android:label="@string/action_settings"/>
        <activity android:name=".ShippingAddress"
            android:label="Addresses"/>
    </application>

</manifest>